" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


" General
set scrolloff=10
set relativenumber
set showmode
set showcmd
set visualbell

let mapleader = ","

" Search improvements
set ignorecase
set smartcase
set incsearch
set hlsearch

" Plugins
set surround
set highlightedyank
set nerdtree

"" Key mappings
"" ==========================
inoremap jk <Esc>

" Tab navigation
nnoremap <A-n> :tabnext<CR>
nnoremap <A-p> :tabprev<CR>\

" Jump between methods
nnoremap [[ <Action>(MethodUp)
nnoremap ]] <Action>(MethodDown)



"" Leader commands
"" ==========================
nnoremap <leader>f :action Find<CR>
nnoremap <leader>c :action CommentByLineComment<CR>
nnoremap <leader>r :action ReformatCode<CR>

nnoremap <leader>sv :vsplit<CR>
nnoremap <leader>sh :split<CR>

" Open NERDTree (use q to exit)
map <leader>x :NERDTreeToggle<CR>

" Move lines up and down
nmap md :m +1<CR>
nmap mu :m -2<CR>

" Remove search highlights
nmap <leader>/: nohlsearch<CR>

" File navigation
map <leader>gf <action>(GotoFile)

